---
import Item from "../components/item.astro"
import Layout from '../layouts/Layout.astro';
---
<Layout>
    <Item  title="neal.fun"  link="https://neal.fun" text="Making toys and games like the hit Password Game and Infinite Craft."/>
    <Item  title="Nicky Case" link="https://ncase.me"/>
    <Item />
    <Item />
    <Item />
    <Item />
    <Item />
    <Item />
    <p class="text-xl font-plex text-overlay2 my-4">> ???</p>
    <p class="text-xl font-plex text-surface2">
        Have a suggestion? Email me at chess [dot] trapezoid [five-nine-eight] [at] passinbox.com
        <br>
        The 598 is in digits, not words.
    </p>
</Layout>
