---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">

        <h1 class="text-xl text-text font-plex mx-auto font-bold">> cat why.txt</h1>
        <h1 class="text-xl text-text font-plex mx-auto whitespace-pre-line">
        the web has lost its creativity.
        these days it's post after post, like after like, comment after comment.
        all centralized on a few platforms.
        it wasn't always like this.
        there was a time when experiments, toys, and little games were commonplace.
        i'm trying to bring those back.
        
        </h1>
        <br>
        <h1 class="text-xl text-text font-plex mx-auto font-bold">> cat what.txt</h1>
        <h1 class="text-xl text-text font-plex mx-auto whitespace-pre-line">
          this is a list of great things i've found on the internet.
          some of them are great games.
          some of them are thought-provoking explainers.
          some of them don't really fit into a category.
          however, all of them have to follow these two rules:
          - no paywalls. donation buttons are okay.
          - no big corporations. these shouldn't be trying to sell you something.

        </h1>
        <br>
        <h1 class="text-xl text-text font-plex mx-auto font-bold">> cat categories.md</h1>
        <h1 class="text-xl text-text font-plex mx-auto whitespace-pre-line">
          some items might appear multiple times in different lists.
          Ctrl+F to search
          <a href="creators" class="decoration-wavy underline underline-offset-8 hover:text-peach transition-all hover:underline-offset-[12px]">[creators]</a>
          <a href="games.astro" class="decoration-wavy underline underline-offset-8 hover:text-peach transition-all hover:underline-offset-[12px]">[games]</a>
          <a href="learning.astro" class="decoration-wavy underline underline-offset-8 hover:text-peach transition-all hover:underline-offset-[12px]">[learn]</a>
          <a href="tools.astro" class="decoration-wavy underline underline-offset-8 hover:text-peach transition-all hover:underline-offset-[12px]">[tools]</a>
          <a href="list.astro" class="decoration-wavy underline underline-offset-8 hover:text-peach transition-all hover:underline-offset-[12px]">[everything]</a>
        </h1>
        <br>
        <h1 class="text-xl text-text font-plex mx-auto font-bold">> cat who.txt</h1>
        <h1 class="text-xl text-text font-plex mx-auto whitespace-pre-line">
          i'm hex4. i want to make the internet fun again.
          maybe you'll find some of my work in the lists? ;)
        </h1>
</Layout>


