---
const { title, link, text } = Astro.props;
---
<h1 class="text-3xl font-plex font-bold text-text group transition-all">Design The Next iPhone <img class="inline-block size-6 text-text group-hover:size-8 transition-all m-auto" src="https://icons.hackclub.com/api/icons/0xcdd6f4/external.svg"></h1>